<!-- LOGIN FORM -->
<center>
<form action="/submit" method="post">
    <div class="form-group">
        <label>Email id/mobile no.</label>
        <input type="text" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="pass">
    </div>
    <button type="submit" class="btn btn-warning btn-lg">Submit</button>
</form>
<form action="/email" method="post">
    <button type="submit" class="btn btn-warning btn-lg">Forgot password</button>
</form>
<form action="/registration" method="get">
    <button type="submit" class="btn btn-warning btn-lg">Create new account</button>
</form>
<form action="/info" method="get">
    <button type="submit" class="btn btn-warning btn-lg">Get info about your account</button>
</form>
</center>
    